.chessBoard {
    -fx-border-color: black;
    -fx-border-width: 3;
}

.chess-button {
    -fx-background-radius: 0;
    -fx-border-color: black;
    -fx-border-width: 1;
}

#evenButton {
    -fx-background-color: #e8fbff;
}

#oddButton {
    -fx-background-color: #577370;
}

